body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label, input {
    display: block;
    margin: 10px 0;
}

#result {
    margin-top: 20px;
}

#automata-image {
    max-width: 100%;
    height: auto;
}
